table {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  .btn {
    display: flex;
    justify-content: center;
  }
}

.mat-mdc-form-field {
  font-size: 15px;
  width: 89%;
  margin-top: 10px;
}

.mat-column-image {
  width: 40px;
  padding-right: 24px;
}

.box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
  padding: 0;
}
.box-info li {
  padding: 24px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
.box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-info li:nth-child(1) .bx {
  background: #cfe8ff;
  color: #3c91e6;
}
.box-info li:nth-child(2) .bx {
  background: #fff2c6;
  color: #ffce26;
}
.box-info li:nth-child(3) .bx {
  background: #ffe0d3;
  color: #fd7238;
}
.box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: #342e37;
}
.box-info li .text p {
  color: #342e37;
}
