.container {
  padding-top: 10px;
}

img {
  height: 250px;
  transition: transform 0.5s;
  margin-top: 10px;
}

// .image-width {
//   width: 280px;
// }

// .image-height {
//   height: 400px;
// }
