// .card-class {
//   margin: 3%;
//   width: 95%;
// }

mat-card {
  margin: 3%;
  width: 95%;
}
mat-form-field {
  width: 100%;
}

#fileInput {
  position: relative;
  cursor: pointer;
  padding: 4px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
}
.mat-toolbar-single-row {
  position: absolute;
  height: auto !important;
  background: transparent;
  padding: 0;
  font-size: 18px;
}

:host ::ng-deep .ck-editor__editable_inline {
  height: 300px;
}
